@import "tailwindcss";


html,
body {
  overflow-x: hidden !important;
  width: 100%;
  background-color: #ffffff; 
}

.slick-list {
  margin: 0 !important;
  padding: 0 !important;
}
.slick-track {
  margin-left: 0 !important;
}